<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 version="2.5">
  <display-name>oa</display-name>
  
  <!-- 配置Spring4核心监听器 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/applicationContext*.xml</param-value>
  </context-param>
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 配置Struts2核心过滤器 -->
  <filter>
		<filter-name>oa</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
		<filter-name>oa</filter-name>
		<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置session的有效时间 -->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 定义出错页面 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
  
  <!-- 配置jsp的全局信息 -->
  <jsp-config>
  	<jsp-property-group>
  		<!-- 拦截所有的jsp页面 -->
  		<url-pattern>*.jsp</url-pattern>
  		<!-- EL表达式 ,不忽略-->
  		<el-ignored>false</el-ignored>
  		<!-- 页面java脚本 -->
  		<scripting-invalid>true</scripting-invalid>
  		<!-- 在拦截到得jsp前面引用该页面 -->
  		<include-prelude>/WEB-INF/jsp/taglib.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>